html,
body {
    height: 100%;
}

body {
    background: url(/assets/images/imagedoc-darknoise.png) #333;
    background-attachment: fixed;
    color: #c7c7c7;
}

.container {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: auto;
    grid-template-areas:
        '. header .'
        '. content .'
        'footer footer footer';
}

.content {
    grid-area: content;
}

.image-list {
    justify-self: center;
}

img {
    max-width: 100%;
    min-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px rgb(70, 70, 70);
    border-radius: 4px;
}

.image-container {
    padding: 10px;
}

footer {
    font: small monospace;
    line-height: 0.5;

    grid-area: footer;
    align-self: end;
    margin-bottom: 10px;
}

.footer-rule {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    border-style: solid;
    border-width: 0;
    background-color: rgb(59, 59, 59);
    width: 95%;
}

a:visited,
a:link {
    color: #c7c7c7;
}

a:hover,
a:active {
    color: #c0c0c0;
}

.token {
    color: rgb(201, 29, 29);
}

.token:hover {
    color: rgb(201, 40, 40);
}

input {
    vertical-align: baseline;
}

input[type='submit'] {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #c7c7c7;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #c7c7c7;
    text-align: center;
    position: relative;
}
input[type='submit']:hover {
    border-color: #7a7a7a;
}
input[type='submit']:active {
    background-color: #999;
}
@media all and (max-width: 30em) {
    input[type='submit'] {
        display: block;
        margin: 0.2em auto;
    }
}

input[type='textarea'] {
    width: 60%;
    height: 10em;
    resize: none;
}

input[type='text'],
input[type='textarea'] {
    display: inline-block;
    margin: 0.1em;
    border: 0.15em solid #c7c7c7;
    background-color: #eaeaea;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: left;
}

input[type='text']:focus,
input[type='textarea']:focus {
    border-color: #7a7a7a;
}
