{{#*inline "page"}}

<h3>Successfully created a new album</h3>
<p>Your deletion token is <a class="token">{{deletion_token}}</a>. Keep it save!</p>
<p>You can find your album <a href="/a/{{token}}">here</a>.</p>

{{/inline}}
{{~> layout ~}}