{{#*inline "header"}}
<a href="/a/{{token}}/auth">Edit</a>
{{/inline}}

{{#*inline "page"}}
<div class="image-list">
    {{#each images}}
    <div class="image-container">
        <a href="{{this}}"><img alt="{{this}}" src="{{this}}" /></a>
    </div>
    {{/each}}
</div>
{{/inline}}
{{~> layout ~}}