{{#*inline "header"}}
<a href="/a/{{token}}/auth">Edit</a>
{{/inline}}

{{#*inline "page"}}
<div class="image-list">
    {{#each images}}
    <div class="image-container">
        <img src="{{this}}" />
    </div>
    {{/each}}
</div>
{{/inline}}
{{~> layout ~}}