<footer>
    <hr class="footer-rule">
    <div class="footer-container">
        <p>Made by <a href="https://github.com/chronophylos/">Chronophylos</a></p>
        <div class="separator"></div>
        <p><b>v</b> is on <a href="https://github.com/chronophylos/v">Github</a></p>
    </div>
</footer>