<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>v {{#if title}}- {{title}}{{/if}}</title>
    <link rel="shortcut icon" type="image/svg" href="/assets/favicon.svg" />
    <link rel="manifest" href="/assets/v.webmanifest">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>

<body>
    {{~> page}}
    {{> footer}}
</body>

</html>